#!/bin/bash
alias k="kubectl"
alias ki="kubectl get --show-kind"
alias kc="kubectl create"
alias kr="kubectl describe"
alias ku="kubectl patch"
alias kd="kubectl delete"
alias cheatsheet="cat ~/.cheatsheet"
alias config="sudo vi /var/lib/rancher/k3os/config.yaml"
alias logs="sudo tail -f /var/log/*.log"
alias everything="kubectl api-resources --verbs=list --namespaced -o name   | xargs -n 1 kubectl get --show-kind --ignore-not-found"
alias apply="kubectl apply -f"
alias create="kubectl create -f"
alias delete="kubectl delete -f"
